Printer apps don't listen on IPV6

**Describe the bug**
When legacy-printer-app listens on 0.0.0.0:8001 but not on :::8001, although it advertises ipp services on both IPV4 and IPV6. This causes problems for clients which might try and connect with IPV6, or with a hostname that might resolve to an IPV6 address.

**To Reproduce**
Steps to reproduce the behavior:
1. legacy-printer-app server
2. netstat -nltp | grep 8001

**Expected behavior**
Output of netstat shoudl be something like:

```
tcp        0      0 0.0.0.0:8001            0.0.0.0:*               LISTEN      nnnnnnnn/legacy-prin 
tcp6       0      0 :::8001                 :::*                    LISTEN      nnnnnnnn

[pappl-inet6.patch](https://github.com/user-attachments/files/23432729/pappl-inet6.patch)

/legacy-prin
```

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System Information:**
 - OS: Fedora 42

**Additional context**
The problem is in system-accessors.c which has the lines:
```
ret = add_listeners(system, name, system->port, AF_INET) ||
   add_listeners(system, name, system->port, AF_INET6);
```
The intent is probably that ret should be set to true if either `add_listeners` succeeeds, but due to the short circuit evaluation of the `||` operator, the IPV6 listener is never activated if the IPV4 add_listener succeeds.

I've added a possible patch, which works for me, but really this still doesn't properly handle the case of one of the add_listeners failing. Which ever one fails should not be advertised through DNS-SD.

This link got misplaced: [pappl-inet6.patch](https://github.com/user-attachments/files/23432729/pappl-inet6.patch)

Also, another approach could be to reverse the order adding IPV6 listeners first, relying on RFC 3493, section 3.7 behaviour and only adding the IPv4 listeners if the former fails, however that doesn't work because  IPV6_V6ONLY is explicitly set in `httpAddrListen` .